
/*********************************************
 * RESET STYLES
 *********************************************/

html, body, .presentations div, .presentations span, .presentations applet, .presentations object, .presentations iframe,
.presentations h1, .presentations h2, .presentations h3, .presentations h4, .presentations h5, .presentations h6, .presentations p, .presentations blockquote, .presentations pre,
.presentations a, .presentations abbr, .presentations acronym, .presentations address, .presentations big, .presentations cite, .presentations code,
.presentations del, .presentations dfn, .presentations em, .presentations img, .presentations ins, .presentations kbd, .presentations q, .presentations s, .presentations samp,
.presentations small, .presentations strike, .presentations strong, .presentations sub, .presentations sup, .presentations tt, .presentations var,
.presentations b, .presentations u, .presentations i, .presentations center,
.presentations dl, .presentations dt, .presentations dd, .presentations ol, .presentations ul, .presentations li,
.presentations fieldset, .presentations form, .presentations label, .presentations legend,
.presentations table, .presentations caption, .presentations tbody, .presentations tfoot, .presentations thead, .presentations tr, .presentations th, .presentations td,
.presentations article, .presentations aside, .presentations canvas, .presentations details, .presentations embed,
.presentations figure, .presentations figcaption, .presentations footer, .presentations header, .presentations hgroup,
.presentations menu, .presentations nav, .presentations output, .presentations ruby, .presentations section, .presentations summary,
.presentations time, .presentations mark, .presentations audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: beige;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 62.5%;
}

.presentation .slide__header, .presentation .slide__footer {
    position: relative;
    text-align: center;
}

.presentation .slide__footer {
    bottom: 10px;
}

.presentation .slide__header_type_1 {
    font-size: 5em;
}
.presentation .slide__header_type_2 {
    font-size: 4em;
}
.presentation .slide__header_type_3 {
    font-size: 3.5em;

}
.presentation .slide__header_type_4,
.presentation .slide__header_type_5,
.presentation .slide__header_type_5 {
    font-size: 2.5em;
}

.presentation .slide__footer{
    font-size: 2em;
}

.presentation .slide__content{
    height: 70%;
}

.presentation .slide__text{
    font-size: 2em;
}

.presentation .slide__table{
    font-size: 2em;
    margin: 0 auto;
    text-align: left;
}

.presentation .slide__table td{
    padding: 1px;
}

.presentation .slide__list{
    font-size: 2em;
    list-style-type: circle;
    text-align: left;
    display: inline-block;
}

.presentation{
    position: absolute;
    opacity: 0.8;
}

.presentation:nth-of-type(2){
    left: 550px;
}

.presentation .slide {
    position: absolute;
    display: block;
    text-align: center;
    background-color: #EEE;
    padding: 10px 5px;
    overflow: hidden;
    height: 320px;
    width: 300px;

    -webkit-transition:  .1s linear;
    -moz-transition:  .1s linear;
    -o-transition:  .1s linear;
    -ms-transition:  .1s linear;
    transition:  .1s linear;

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.presentation_state_current {
    background-color: #FFF;
    opacity: 1;
}

/*Текущая презентация*/
.presentation_state_current .slide {
    background-color: #FFF;

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .7);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .7);
}

/* Текущий слайд (для каждой презентации свой) */
.slide_state_current {
    z-index: 10;
}

a.metro {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #B00;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: "Lato", Calibri, Arial, sans-serif;
}

a.metro:hover { background: #E00; }

/* Progress bar */
.presentation .progress{
    min-width: 0px;
    position: relative;
    overflow: hidden;
    height: 5px;
    z-index: 11;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

/* progress bar отображается только у текущей презентации */
.presentation .progress__bar{
    position: absolute;
    left: -20px;
    top: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #BBBBBB;
    z-index: 12;

    transition: width 0.2s linear 0, border-bottom-color 0.2s ease-in 0;
    -webkit-transition: width 0.2s linear, border-bottom-color 0.2s ease-in;
    -moz-transition: width 0.2s linear 0.2s, border-bottom-color 0.2s ease-in 0.2s;
    -o-transition: width 0.2s linear, border-bottom-color 0.2s ease-in;
    -ms-transition: width 0.2s linear, border-bottom-color 0.2s ease-in;
}

.presentation_state_current .progress__bar{
    border-bottom-color: #ff0000;
}

/* Заполяет progress bar до конца при 100% */
.progress__bar[style$='100%;'] {
    padding-left: 10px;
}

a {
    padding: 5px 10px;
    background: #ff5555;
    color: #000;

    transition: background 0.1s linear, color 0.1s ease;
    transition-delay: 0.1s;

    -webkit-transition: background 0.1s linear, color 0.1s ease;
    -webkit-transition-delay: 0.1s;
    -moz-transition: background 0.1s linear 0.1s, color 0.1s ease 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition: background 0.1s linear, color 0.1s ease;
    -o-transition-delay: 0.1s;
    -ms-transition: background 0.1s linear, color 0.1s ease;
    -ms-transition-delay: 0.1s;

}
a:hover {
    background: #ee0000;
    color: #fff;
}

.presentation .slide__text_size_small{
    font-size: 1em;
}

.presentation code, .presentation pre {
    font-size: .7em;
    font-family:     "Courier New" Courier monospace;
}

.presentation .vertical-center{
    top: 30%;
}